@import "utils";
@import "fonts";
@import "typography";

.people {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 210px));
  justify-content: center;
  grid-gap: 10px 30px;
  margin-top: 50px;

  font-family: Arial, sans-serif;
  font-size: 20px;
  color: #2f4f4f;
}

.person {
  padding: 6px;
  width: 205px;
  height: 260px;
  transition: width 1s linear, transform 1s linear;
}

.extra {
  display: none;
  margin-top: 9px;
  font-size: 18px;
  color: #000;
}

.person:hover {
  transform: scale(1.2);
  background: #eee;
  border-radius: 10px;
  z-index: 1;

  .extra {
    display: block;
  }

  & :first-child {
    border-radius: 25%;
  }
}

.img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 5px;
  transition: all 1s linear;
}

.photo {
  display: flex;
  justify-content: center;
  position: relative;
}

.rank {
  position: absolute;
  right: 20px;
  bottom: 95px;
  color: #8b0000;
}

.rank--ten {
  right: 16px;
}

.circle--white {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 10px;
  bottom: 90px;
  background-color: #fff;
  border-radius: 50%;
}

.details {
  text-align: center;
}

.name {
  color: #2f4f4f;
}

@media screen and (max-width: 750px) {
  .people {
    grid-template-columns: repeat(2, 200px);
  }
}

@media screen and (min-width: 1010px) {
  .people {
    grid-template-columns: repeat(4, 200px);
  }
}
